<footer style="background-color: aqua; height: 100px; border: black; border-style: solid; border-width: 2px;">
    <nav>
        <ul>
            <li style="display: inline-block; width: 100px; background-color: aqua; border: 100px; box-shadow: inset;">     Home    </li>
            <li style="display: inline-block; width: 100px;background-color: aqua;">     About    </li>
            <li style="display: inline-block; width: 100px;background-color: aqua;">     Menu    </li>
        </ul>
    </nav>
</footer>

