<footer style="background-color: aqua; height: 100px; border-width: 5px; border-style:solid;">
    <nav>
        <ul>
            <form style="display: inline-block; border: teal; width: 100px;" action="http://127.0.0.1:8000/home/";">
                <input type="submit" value="Home" />
            </form>
            <form style="display: inline-block; width: 100px;" action="http://127.0.0.1:8000/menu/">
                <input type="submit" value="Menu" />
            </form>
            <form style="display: inline-block; width: 100px;" action="http://127.0.0.1:8000/about/">
                <input type="submit" value="About" />
            </form>
        </ul>
    </nav>
</footer>